# -----------------------------------------------------------------------------
# Global Configuration
# -----------------------------------------------------------------------------
NODE_ENV=development
JWT_SECRET=mysupersecrectkey
JWT_EXPIRES_IN=7d
COMPANY_NAME="Dhaka International University"
FRONTEND_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Service Ports
# -----------------------------------------------------------------------------
GATEWAY_PORT=8000
USER_SERVICE_PORT=8001
ACADEMIC_SERVICE_PORT=8002
CLASSROOM_SERVICE_PORT=8003
COMMUNICATION_SERVICE_PORT=8004
ENROLLMENT_SERVICE_PORT=8005
LIBRARY_SERVICE_PORT=8006
NOTIFICATION_SERVICE_PORT=8007

# -----------------------------------------------------------------------------
# Service URLs
# -----------------------------------------------------------------------------
GATEWAY_URL=http://localhost:8000
USER_SERVICE_URL=http://localhost:8001
ACADEMIC_SERVICE_URL=http://localhost:8002
CLASSROOM_SERVICE_URL=http://localhost:8003
COMMUNICATION_SERVICE_URL=http://localhost:8004
ENROLLMENT_SERVICE_URL=http://localhost:8005
LIBRARY_SERVICE_URL=http://localhost:8006
NOTIFICATION_SERVICE_URL=http://localhost:8007

# -----------------------------------------------------------------------------
# Database Connection URLs (Local)
# -----------------------------------------------------------------------------
USER_MONGO_URI='mongodb://localhost:27017/student_portal_user_service'
ACADEMIC_MONGO_URI='mongodb://localhost:27017/student_portal_academic_service'
CLASSROOM_MONGO_URI='mongodb://localhost:27017/student_portal_classroom_service'
COMMUNICATION_MONGO_URI='mongodb://localhost:27017/student_portal_communication_service'
ENROLLMENT_MONGO_URI='mongodb://localhost:27017/student_portal_enrollment_service'
LIBRARY_MONGO_URI='mongodb://localhost:27017/student_portal_library_service'
NOTIFICATION_MONGO_URI='mongodb://localhost:27017/student_portal_notification_service'

# -----------------------------------------------------------------------------
# Message Broker & Cache
# -----------------------------------------------------------------------------
RABBITMQ_URL='amqp://localhost:5672'
REDIS_URL='redis://localhost:6379'

# -----------------------------------------------------------------------------
# Email Configuration (Mailtrap)
# -----------------------------------------------------------------------------
# MAIL_HOST='your_mail_host'
# MAIL_PORT=your_mail_port
# MAIL_USER=your_mail_user
# MAIL_PASS=your_mail_pass
# MAIL_FROM='your_mail_from'
# MAIL_SECURE=false

# -----------------------------------------------------------------------------
# Optional/Tuning
# -----------------------------------------------------------------------------
MAX_EMAILS_PER_NOTIFICATION=2000
EMAIL_BATCH_SIZE=10
EMAIL_BATCH_DELAY_MS=1000