services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6380:6379"
    networks:
      - backend-network

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./gateway:/app/gateway
      - ./shared:/app/shared
      - ./logs:/app/logs
      - /app/gateway/node_modules
      - /app/shared/node_modules
    command: node --no-warnings app.js
    environment:
      - PORT=8000
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - ACADEMIC_SERVICE_URL=http://academic:8002
      - USER_SERVICE_URL=http://user:8001
      - LIBRARY_SERVICE_URL=http://library:8006
      - ENROLLMENT_SERVICE_URL=http://enrollment:8005
      - NOTIFICATION_SERVICE_URL=http://notification:8007
      - COMMUNICATION_SERVICE_URL=http://communication:8004
      - CLASSROOM_SERVICE_URL=http://classroom:8003
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - rabbitmq
      - academic
      - user
      - library
      - enrollment
      - notification
      - communication
      - classroom
    networks:
      - backend-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

  user:
    build:
      context: .
      dockerfile: user/Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./user:/app/user
      - ./shared:/app/shared
      - /app/user/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8001
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/student_portal_users}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - REDIS_URL=redis://redis:6379
      - ACADEMIC_SERVICE_URL=http://academic:8002
      - LIBRARY_SERVICE_URL=http://library:8006
      - HOSTEL_SERVICE_URL=http://communication:8004
      - ENROLLMENT_SERVICE_URL=http://enrollment:8005
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASS=${MAIL_PASS}
      - MAIL_FROM=${MAIL_FROM}
    depends_on:
      - rabbitmq
      - redis
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  academic:
    build:
      context: .
      dockerfile: academic/Dockerfile
    ports:
      - "8012:8002"
    volumes:
      - ./academic:/app/academic
      - ./shared:/app/shared
      - /app/academic/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8002
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/student_portal_academic}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - USER_SERVICE_URL=http://user:8001
      - GEMINI_API=${GEMINI_API:-}
    depends_on:
      - rabbitmq
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  enrollment:
    build:
      context: .
      dockerfile: enrollment/Dockerfile
    ports:
      - "8005:8005"
    volumes:
      - ./enrollment:/app/enrollment
      - ./shared:/app/shared
      - /app/enrollment/node_modules
      - /app/shared/node_modules
    command: sh -c "npm install && node --watch --no-warnings server.js"
    environment:
      - PORT=8005
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/enrollment_service}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - USER_SERVICE_URL=http://user:8001
      - ACADEMIC_SERVICE_URL=http://academic:8002
      - ENROLLMENT_SERVICE_URL=http://enrollment:8005
    depends_on:
      - rabbitmq
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  library:
    build:
      context: .
      dockerfile: library/Dockerfile
    env_file:
      - .env
    ports:
      - "8006:8006"
    volumes:
      - ./library:/app/library
      - ./shared:/app/shared
      - /app/library/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8006
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/student_portal_library}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - USER_SERVICE_URL=http://user:8001
      - MAIL_HOST=sandbox.smtp.mailtrap.io
      - MAIL_PORT=2525
      - MAIL_USER=8cbbbf4e87833a
      - MAIL_PASS=7161f47320a42b
      - MAIL_FROM="Dhaka International University"
    depends_on:
      - rabbitmq
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  classroom:
    build:
      context: .
      dockerfile: classroom/Dockerfile
    ports:
      - "8003:8003"
    volumes:
      - ./classroom:/app/classroom
      - ./shared:/app/shared
      - /app/classroom/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8003
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/classroom_service}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - ACADEMIC_SERVICE_URL=http://academic:8002
      - ENROLLMENT_SERVICE_URL=http://enrollment:8005
      - USER_SERVICE_URL=http://user:8001
    depends_on:
      - rabbitmq
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  communication:
    build:
      context: .
      dockerfile: communication/Dockerfile
    ports:
      - "8004:8004"
    volumes:
      - ./communication:/app/communication
      - ./shared:/app/shared
      - /app/communication/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8004
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/communication_db}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - ACADEMIC_SERVICE_URL=http://academic:8002
      - ENROLLMENT_SERVICE_URL=http://enrollment:8005
      - USER_SERVICE_URL=http://user:8001
    depends_on:
      - rabbitmq
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  notification:
    build:
      context: .
      dockerfile: notification/Dockerfile
      network: host
    ports:
      - "8007:8007"
    volumes:
      - ./notification:/app/notification
      - ./shared:/app/shared
      - /app/notification/node_modules
      - /app/shared/node_modules
    command: node --watch --no-warnings server.js
    environment:
      - PORT=8007
      - NOTIFICATION_SERVICE_PORT=8007
      - JWT_SECRET=${JWT_SECRET:-mysupersecrectkey}
      - MONGO_URI=${MONGO_URI:-mongodb://host.docker.internal:27017/notification_service}
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - REDIS_URL=redis://redis:6379
      - USER_SERVICE_URL=http://user:8001
      - GATEWAY_URL=http://gateway:8000
    depends_on:
      - rabbitmq
      - redis
    networks:
      - backend-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - 8.8.8.8
      - 8.8.4.4

networks:
  backend-network:
    driver: bridge
